img{
  max-width: 300px;
  margin-bottom: 20px;
}
#design, #android, #ruby, #none{
  display: none;
}

/*possibly 3 new ids for each background*/

/*uncomment if want to put a border and unhide the radial button*/
/*.hiddenRadioButton{
  display: none;
}*/
/*.box:hover{
  border-style:solid;
  border-width: thin;
  padding: 2px;

}*/
body{
  background: url(../img/sf.jpeg) fixed no-repeat 100%;
  /*background-size: cover;*/

  color:white;
  background-size:170%;

}
button{
  margin-top: 50px;
  padding-bottom: 25px;
}
