img{
  max-width: 300px;
}
/*#design, #android, #ruby{
  display: none;
}*/
/*uncomment if want to put a border and unhide the radial button*/
/*.hiddenRadioButton{
  display: none;
}*/
/*.box:hover{
  border-style:solid;
  border-width: thin;
  padding: 2px;

}*/
body{
  background: url(../img/sf.jpeg) no-repeat;
  background-size: cover;
  color:white;
}
button{
  margin-top: 50px;
  padding-bottom: 25px;
}
